<h1>Lorem ipsum</h1>
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis doloribus pariatur deserunt unde minima eos non veniam nam omnis cumque natus reiciendis vero assumenda modi, totam soluta maxime eveniet quasi!
Inventore, facilis omnis expedita ipsum eaque voluptates obcaecati distinctio sapiente quaerat quibusdam! Fugit modi quam quisquam qui magni tenetur vitae et dolore, nam reprehenderit eius nobis, numquam sunt, provident id.
Excepturi explicabo fuga nemo provident perspiciatis recusandae ut tenetur nisi quae iste eaque, debitis accusamus itaque ipsam, ad alias magni aperiam repellat pariatur, iure facere illum! Ad architecto esse itaque.
Saepe cupiditate blanditiis ducimus perferendis fuga! Sint possimus corporis ullam, atque, minus eligendi ducimus distinctio earum sed illo nihil fugiat numquam animi assumenda eaque placeat ratione dolor nam similique sit!
Ducimus quis veniam dolore nesciunt eaque vel eveniet quod, quo perspiciatis laudantium nobis fuga dolores totam adipisci ipsum earum saepe assumenda! Corrupti tempore necessitatibus neque incidunt laborum quidem placeat deserunt.</p>


<%= link_to "Edit an article", edit_article_path %>
<%= link_to "Delete an article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
